html, body {
  margin: 0;
  padding: 20px;
  font-family: "Verdana", sans-serif;
	background-color: whitesmoke;
}

article {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 4em 0;
  padding: 1em;
}

fieldset.style {
  max-width: 40em;
}

fieldset.style > * {
  display: flex;
  margin-bottom: 10px;
}

fieldset.style > * > :first-child {
  width: 15em;
}

fieldset.style > * > :not(:first-child) {
  flex: 1;
}

input:invalid {
  background-color: pink;
}